@keyframes flip-card{
  0% {width:90vw}
  100% {width:0}
}
@keyframes unflip-card{
  0% {width:0}
  100% {width:90vw}
}
@keyframes enlarge-card{
  0% { transform:scale(1,1);}
  100% { transform:scale(2,2);}
}
@keyframes shrink-card{
  0% { transform:scale(2,2);}
  100% { transform:scale(1,1);}
}
@keyframes disappear{
  0% {opacity:1}
  100% {opacity:0}
}

::view-transition-image-pair(root) {
  isolation: auto;
}

body{
  margin:0;
  padding:0;
}

button{
  width:2rem;
  height:2rem;
  border-radius: .25rem;
  outline:none;
  border:1px solid #b4b4b4;
  background-color: transparent;
  box-decoration-break: 0 3px 3px #a4a4a4;
  color:#a4a4a4;
  padding:0;
  display:inline-flex;
  justify-content: center;
  align-items: center;

  &:active{
    border:1px solid #6e6e6e;
    color:#6e6e6e;
  }
}

#main-outlet{
  position:relative;
  width:100vw;
  height:100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .hidden{
    display:none;
  }

  &.menu{
    --card-width:40vw;
    --card-height:25vw;
    box-sizing: border-box;
    padding:1rem;
    margin:4rem 0;
    display:grid;
    grid-template-columns: repeat(2, var(--card-width));
    gap:1rem;
    align-content: flex-start;
    justify-content: center;
    .card-container{
      display:contents;
    }

    .card{
      --background-color:white;
      --foreground-color:white;
      --text-color:white;
      position:relative;
      top:0;
      left:0;
      transform-origin: left;
      box-sizing: border-box;
      width:var(--card-width);
      height:var(--card-height);
      overflow: hidden;

      border:1px solid gray;
      border-radius:.5rem;

      z-index: 0;

      &:nth-child(even){
        transform-origin: right;
      }
      &.grow{
        z-index:10;
        animation-name: enlarge-card;
        animation-duration: .25s;
        animation-fill-mode: forwards;
      }
      &.shrink{
        z-index:10;
        animation-name: shrink-card;
        animation-duration: .25s;
        animation-fill-mode: forwards;
      }
      &.center{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .front,
      .back{
        z-index: inherit;
        pointer-events: none;
        position:absolute;
        width:100%;
        height:100%;

        display:flex;
        justify-content: center;
        align-items: center;

        opacity:1;
        transition:opacity .25s;
      }
      .front{
        background-color: var(--background-color);
        color: var(--text-color);
        &.variant-1{
          background: linear-gradient(45deg, var(--background-color) 0%,var(--background-color) 80%,var(--foreground-color) 80%, var(--foreground-color) 100%);
        }
        &.variant-2{
          background: linear-gradient(-90deg, var(--background-color) 0%,var(--background-color) 80%,var(--foreground-color) 80%, var(--foreground-color) 100%);
        }
        &.variant-3{
          background: linear-gradient(135deg, var(--foreground-color) 0%,var(--foreground-color) 20%,var(--background-color) 20%, var(--background-color) 100%);
        }
        &.variant-4{
          background: radial-gradient(var(--foreground-color) 0%,var(--foreground-color) 40%,var(--background-color) 40%, var(--background-color) 100%);
        }
        &.variant-5{
          background: radial-gradient(circle at bottom left, var(--foreground-color) 0%,var(--foreground-color) 20%,var(--background-color) 20%, var(--background-color) 100%);
        }
      }
      .back{
        background-color: white;
        background: white;
        button{
          display:none;
          width:1rem;
          height:1rem;
          font-size:50%;
          pointer-events: all;
          position:absolute;
          right:.5rem;
          top:.5rem;
        }
        svg{
          width:calc(var(--card-width) - 2rem);
          height:calc(var(--card-height) - 2rem);
        }
        .code{
          position:absolute;
          bottom:1rem;
          line-height: .75rem;
        }
      }


      &.grow{
        .front{
          opacity: 0;
        }
        .back button{
          display:inline-block;
        }
      }
    }
  }

  &.add-card{
    --card-background-color:red;
    --card-foreground-color:#ffa500;
    --card-text-color:white;
    .slide{
      touch-action: none;
      position:absolute;
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap:1rem;
      width:100vw;
      height:100vh;
      top:0;
      transition:left .5s;

      form{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:.5rem;
        width:90vw;

        .top-buttons{
          width:100%;
          margin-top:1rem;
          display:flex;
          justify-content: space-between;
        }

        .preview-card{
          background-color: var(--card-background-color);
          position:relative;
          box-sizing: border-box;
          width:90vw;
          height: 50vw;
          overflow: hidden;
  
          border:1px solid gray;
          border-radius:.5rem;
  
          display:flex;
          justify-content: center;
          align-items: center;

          &.flip{
            animation-duration: .25s;
            animation-fill-mode: forwards;
            animation-name:flip-card;
          }
          &.unflip{
            animation-duration: .25s;
            animation-fill-mode: forwards;
            animation-name:unflip-card;
          }

          &.variant-1{
            background: linear-gradient(45deg, var(--card-background-color) 0%,var(--card-background-color) 80%,var(--card-foreground-color) 80%, var(--card-foreground-color) 100%);
          }
          &.variant-2{
            background: linear-gradient(-90deg, var(--card-background-color) 0%,var(--card-background-color) 80%,var(--card-foreground-color) 80%, var(--card-foreground-color) 100%);
          }
          &.variant-3{
            background: linear-gradient(135deg, var(--card-foreground-color) 0%,var(--card-foreground-color) 20%,var(--card-background-color) 20%, var(--card-background-color) 100%);
          }
          &.variant-4{
            background: radial-gradient(var(--card-foreground-color) 0%,var(--card-foreground-color) 40%,var(--card-background-color) 40%, var(--card-background-color) 100%);
          }
          &.variant-5{
            background: radial-gradient(circle at bottom left, var(--card-foreground-color) 0%,var(--card-foreground-color) 20%,var(--card-background-color) 20%, var(--card-background-color) 100%);
          }


          .front-content,
          .back-content{
            display:contents;
            &.hidden{
              display:none;
            }
            canvas{
              position:absolute;
              width:90%;
            }
          }
          button.open-camera{
            position: absolute;
            top:50%;
            left:50%;
            transform:translate(-50%, -50%);
          }
          &:has(.back-content:not(.hidden)){
            background-color: white;
            background: white;
          }

          input{
            text-align: center;
            color:var(--card-text-color);
            background-color: transparent;
            border-style: ridge;
            border-radius:.25rem;
            border:1px solid #ffffff;
            outline:none;
            &:first-child{
              width:60%;
              font-size:2rem;
              transform:translate(0, -1rem);
            }
            &:nth-child(2){
              width:90%;
              font-size:1rem;
              position:absolute;
              bottom:.5rem;
              left:50%;
              transform:translate(-50%, 0);
            }
          }
          button.flip{
            position:absolute;
            top:1rem;
            right:1rem;
          }
        }

        .swatches{
          width:100%;
          display:flex;
          align-items: center;
          justify-content: flex-end;
          gap:1rem;
        }

        .bottom-buttons{
          margin-top:1rem;
          display:flex;
          gap:1rem;
        }
      }

      
      button{
        z-index: 4;
      }
    }
  }

}
@media (orientation: portrait){
  
}